* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffc0cb; /* Fundo rosa */
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li {
    margin-left: 30px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #ffc0cb;
}

.hero-text h1 {
    font-size: 3rem;
    color: #fff;
}

.hero-text p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 10px;
}

.about-section, .contact-section {
    padding: 80px 0;
    text-align: center;
}

.about-section h2, .contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn-instagram {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
}

.btn-instagram:hover {
    background-color: #333;
}

.main-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
